@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-gradient{
  background: linear-gradient(130deg, #0078C2 0.28%, #87DAD5 100%);
}

.light-blue-gradient{
  background: linear-gradient(77deg, #87DAD5 0%, #0078C2 100%);
}

.green-gradient{
  background: linear-gradient(130deg, #91E01A 0%, #87DAD5 100%);
}

.light-gradient-1{
  background: linear-gradient(53deg, #ACD0E8 0%, #FFF 100%);
}

.light-gradient-2{
  background: linear-gradient(122deg, #5086AA 0%, #FFF 100%);
}

.magic-circles {
  transition: transform 0.45s ease-in-out, box-shadow 1s ease-in-out;
}

.magic-circles::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

.light-circle{
  background: linear-gradient(40deg, #0078C2 10%, #3CC3BA 60%, #D5E9F6 85%, white 90%);
}

.light-circle::before{
  background: linear-gradient(20deg, #0078C2 20%, #3CC3BA 80%, #D5E9F6 100%);
}


.dark-circle {
  background: linear-gradient(200deg, white 60%, #D5E9F6 70%, #3CC3BA 90%, #0078C2 98%);
}

.dark-circle::before{
  background: linear-gradient(200deg, white 20%, #D5E9F6 60%, #3CC3BA 80%, #0078C2 98%);
}
